admin_email                                           = ""
aws_region                                            = ""
aws_profile                                           = ""
build_artifacts_bucket_name                           = ""
tf_remote_state_bucket_name                           = ""
tf_remote_state_key                                   = ""
tf_remote_state_table_name                            = ""
departures_metrolink_v1_tfgm_developer_api_key        = ""
departures_metrolink_v1_tfgm_developer_metrolinks_url = ""
